@media screen and (min-width: 200px) {
@-ms-viewport {
  width: 700px;
}
@viewport {
  width: 700px;
}

}
body{
    background-color: #1F213A;
    color: white;
     font-family: 'SegoeUIMonoW01-Regular';
     touch-action: pan-y;
    -ms-overflow-style: none;
    
}

.logoBox{
    position: absolute;
    width:100%;
    padding: 64px;
    display: flex;
    z-index: 11;
}
.logoBox div{
    margin-right: 40px;
}
.logoBox .logo{
    margin-right: 68px;
    height: 56px;
    margin-top: -30px;
}

#page {
    display: flex; 
     flex-direction: column;
     flex-wrap: nowrap ;
     align-items: stretch;
     align-content: space-between;
}
.topSection{
    height: 564px;
    margin-bottom:0em;
    background: linear-gradient(to bottom, rgba(65,102,97,0) 0%,rgba(65,102,97,0) 32%,rgba(65,102,97,1) 99%,rgba(65,102,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.heroBox {
    height: 436px;
    padding: 64px;
    opacity:.6;
    background-image:url('http://adx.metulev.com/video/Images/Clean/Large/FeaturedImage_2x1_Image04.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.movieListing{
     display: flex;

     justify-content: center;
     flex-direction: column;
    
}
.movieBoxContainer{
    margin:24px 16px 0 0;
}
.movieBox {
    width: 243px;
    height: 132px;
    background-color:#32474F; 
    margin-bottom: 8px;
    flex-shrink:0;
    background-size: cover;
}
.heroBox .controls{
    width:20em;
    margin-bottom:30px;
}
.controls h1{
    margin-bottom:10px;
}
.bottomSection{
    flex-grow: 1;
    height:100%;
    xpadding: 40px 68px;
}
.movieSection{
    overflow:hidden;
    padding: 40px 68px;
}

.movieSection .list{
     display: flex;
     flex-direction: row;
    overflow-x: scroll;
    overflow-y:hidden;
    width:2000px;
     justify-content: left;
}
    .movieSection h4{
        font-size: 15pt;
    }

.movieSection:nth-of-type(2), .movieSection:nth-of-type(5) {
  background-color:#283444;
} 
.movieSection:nth-of-type(4){
  background-color:#2f404b;
} 

.movieSection:nth-of-type(2) .movieBoxContainer:first-child .movieBox, .movieSection:nth-of-type(5) .movieBoxContainer:first-child .movieBox{
    width: 486px;
    height: 264px;
}
.movieSection:nth-of-type(2) .list, .movieSection:nth-of-type(5) .list{
    flex-direction: column;
    max-height:450px;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.playMovie {
    padding: 4em;
    padding-top: 6em;
  
    height: 25em;
    display: flex;
}

.moviePlayer{
    height:400px;
    width:778px;
    background-color: black;
     flex-shrink:0;
     background-size: contain;
    
}
.movieText {
   padding: 5em; 
}

.controls button{
    background-color: #32474F;
 font-family: "Wingdings 3"
}