@media screen and (min-width: 200px) {
@-ms-viewport {
  width: 700px;
}
@viewport {
  width: 700px;
}



}
body{
    background-color: #1F213A;
    color: white;
     font-family: 'Bitter', serif;
     touch-action: pan-y;
    -ms-overflow-style: none;
    
}

#page {
    display: flex; 
     flex-direction: column;
     flex-wrap: nowrap ;
     align-items: stretch;
     align-content: space-between;
}
.heroBox {
    height: 23em;
    padding: 5em;
    background-image:url('images/hero1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.movieListing{
     display: flex;
     padding-top: 2em;
     justify-content: center;
     flex-direction: column;
    
}
.movieBoxContainer{
    padding:20px;
}
.movieBox {
    width: 243px;
    height: 132px;
    background-color:#32474F; 
    margin-bottom: 5px;
    flex-shrink:0;
}
.heroBox .controls{
    width:20em;
}
.bottomSection{
    flex-grow: 1;
    height:100%;
}
.movieSection{
    overflow:hidden;
}

.movieSection .list{
     display: flex;
     padding-top: 2em;
     flex-direction: row;
    overflow-x: scroll;
    overflow-y:hidden;
    width:200%;
     justify-content: left;
    
     
}

.movieSection:nth-of-type(even) {
  background-color:#283444;
} 

.movieSection:nth-of-type(even) .movieBoxContainer:first-child .movieBox{
    width: 486px;
    height: 264px;
}
.movieSection:nth-of-type(even) .list{
    flex-direction: column;
    max-height:500px;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

x#page div { border: 1px solid green}